// COLORS

$primary: #163f7f;
$secondary: #475059;
$success: #00ac56;
$warning: #f6ab40;
$info: #26a5dc;
$dark: #1e2b3d;
$light: #ededee;

$navbar-color: #ffffff;

$footer-background-color: #1b2b3a;
$footer-color: #ffffff;

$border-radius: 10px;

@import "bootstrap";
@import "ember-power-select";
@import "ember-cli-spinner";
@import "fonts";
@import "main";

body {
    // font-family: 'Asap' !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.main-page-links img {
    width: 100%;
}

.accordion {
    position: relative;
    overflow: hidden;
}

.container {
    margin-bottom: 0px;
}

/**
 * Taken from http://getbootstrap.com/css/#helper-classes-center
 */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#s-filters-main {
    background-image: url('/app/img/banner-congreso.png');
    background-attachment: cover;
    background-position: center center;
    width: 100%;
}


.search-and-filter {
    width: 80%;
    margin: auto;
    text-align: center;
}

.search-and-filter h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

.search-and-filter .filter-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.search-and-filter .filter-container .btn {
    width: 180px;
    height: 45px;
    font-size: 1rem;
}

.search-and-filter .filter-container .btn img {
    width: 20px;
    margin-right: 15px;
}

.search-and-filter .filter-container .dropdown-menu {
    width: 20rem;
    max-width: 90vw;
    padding: 10px;
    z-index: 10000;
}

.search-and-filter .filter-container .dropdown-menu label {
    font-weight: lighter;
    font-size: normal;
    width: 100%;;
}

.search-and-filter .filter-container .dropdown-large .dropdown-menu {
    width: 20rem;
}

.search-and-filter .filter-container .dropdown-large .dropdown-menu label {
    font-weight: lighter;
    font-size: normal;
    width: 45%;
    text-transform: capitalize;
}

.search-and-filter .filter-container .dropdown-menu label input[type=checkbox] {
    // visibility: hidden;
}

.search-container .ember-power-select-status-icon {
    display: none;
}

.ember-power-select-placeholder {
    text-align: left;
    padding-left: 40px;
}

.ember-power-select-trigger {
    border-radius: $border-radius;
    // width: 80%;
    // max-width: 800px;
    margin: auto;
}

td.number {
    text-align: right;
}

table.text-center td,
table.text-center th {
    text-align: center;
}

th.header {
    color: #545759;
    background-color: #d8dade;
}

.padded-table td,
.padded-table th {
    padding: 15px;
}

html, body {
    background-color: #ffffff;
    color: $secondary;
    padding-top: 0;
}

body.perfil .container.content-container {
    background-color: #e6e7e8;
}

// STIKCY CONTACT BANNER

.sticky-contact .col-12, .col-md-8{
    padding: 10px;
    font-size: medium;
 }

.sticky-contact .fa-facebook-square, .fa-twitter-square {
    font-size: 20px;
}


// NAVBAR

@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 200px;
  }

  .navbar-toggler {
    float: right;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-nav {

    a {
        display: flex;

        p {
            text-align: left;
        }
    }
  }
}


.navbar-nav {
    margin-left: auto;
}

.navbar-brand img {
    max-height: 50px;
    width: 300px;
}

.navbar {
    color: $navbar-color;
    border-radius: 0px;
    // height: 100px;

    .navbar-nav {

        li {
            text-align: center;
            height: 80px;
            padding-top: 10px;
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.nav > li > a {
    font-size: 18px;
    color: $navbar-color;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    img {
        width: 20px;
        height: 20px;
        // margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .nav > li > a {
        img {
            width: 30px;
            height: auto;
        }
    }
}

.navbar-inverse .navbar-nav > li > a, a:focus {
    color: $navbar-color;
}

.navbar-inverse .navbar-brand {
    color: $navbar-color;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffc80e;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

// Footer

#footer {
    background-color: $footer-background-color;
    color: $footer-color;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
        color: $footer-color;
    }

    a:hover {
        // Calcula el color según el color de fondo. Aclara.
        color: lighten( $footer-background-color, 30% ) !important;
    }

    i {
        margin-right: 8px;
    }

    // Ajusta alineación con los demas iconos.
    .fa-map-marker {
        padding-left: 2px;
    }

    .follow {
        h6 {
            margin-bottom: 1.5rem;
        }
        
        img {
            margin-right: 10px;
        }
    }

    .image-opacity:hover {
        opacity: 0.8;
    }
}

#red-footer {
    background-color: #e6e7e8;
    color: #404041;
    padding-top: 40px;
    padding-bottom: 40px;

    .logo-rc {
        width: 120px;
        height: 62px;
    }

    .cc-icons img {
        margin-right: 10px;
    }
}

// INDEX PAGE

#banner img {
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

#descarga-app img {
    max-height: 50px;
}

#descarga-app {
    /*padding-bottom: 30px;
    padding-top: 30px;*/
    padding: 30px;
    /* Gris pálido */
    background-color: #f1f1f2;
    margin-bottom: 0px;
}

#descarga-app-title {
    font-weight: bold;
    font-size: 36px;
    color: $secondary;
}

.img-responsive.center {
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    background-color: #fff;
}

nav > .container {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-candidator .list-inline > li a {
    padding: 15px;
    font-size: 16px;
    color: $primary;
}

// is-active
.nav-candidator .list-inline > li.active a, .nav-candidator .list-inline > li:hover a {
    background-color: $success;
}

.nav-candidator .list-inline > li a i.fa {
    margin-right: 10px;
    font-size: 18px;
    color: $warning;
}

// is-active
.nav-candidator .list-inline > li.active a i.fa {
    color: white;
}

.nav-candidator .list-inline > li {
    margin-left: 0px;
}

.bg-color-gray {
    background-color: #e6e7e8;
}

// .bg-color-$primaryff {
//     background-color: #ffffff;
// }

.color-light-blue {
    /*Azul claro o celeste*/
    color: #75bbcc;
}

.btn-light-blue {
    background-color: #75bbcc;
    color: #FFFFFF;
}

 /* Perfiles */
.container-profile {
    background: #FFFFFF;
    color: $secondary;
}

.profile-candidate {
    background-color: #FFFFFF;
    color: $secondary;
}

.profile-candidate h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.profile-candidate .social-side img {
    width: auto;
    height: auto;
    max-height: 100px;
}

p.datos-abiertos {
    margin: 20px 0px;
}

.social-link-candidate {
    color: $secondary;
}

.perfil-container {
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    /*box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);*/
}

.nav-candidator {
    color: $primary;
}

.nav-candidator .list-inline > li.social-media {
    float: right;
    padding-top: 15px;
}

.nav-candidator .list-inline > li.social-media > div {
    margin-right: 10px;
}

.panel-default > .panel-heading {
    padding: 25px;
    font-size: 16px;
}

.tabla-gradacion-content,
.tabla-tachas-header {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $secondary;
}

.panel-body.no-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
}

.font-weight-600 {
    font-weight: 600;
}

.badge {
    font-weight: 600;
    width: 42px;
}

.tabla-gradacion-content > .row {
    padding: 25px 15px;
    border-bottom: solid 1px #ddd;
}

.tabla-gradacion-content .text-container {
    padding-left: 25px;
    margin-top: 12px;
}

.tabla-gradacion-content .badge {
    font-size: 14px;
    padding: 11px 13px;
    background-color: $info;
    margin-top: 10px;
}

.postulador-paneles .tabla-gradacion-content .badge {
    font-size: 20px;
    background-color: #75bbcc;
}

.buffer-top-30 {
    margin-top: 30px;
}

#compare-candidates div.col-md-12:first-child {
    margin-top: 0px;
}

.portfolio-item .portfolio-image, .portfolio-item .portfolio-image a, .portfolio-item .portfolio-image img {
    max-height: 250px;
    width: 90%;
    margin: auto;
}

.portfolio-5 .portfolio-item {
    height: 330px;
}

.portfolio-5 .portfolio-item  div.bg-white {
    height: 90%;
}

.portfolio {
    .image-party img {
        position: absolute;
        left: 65%;
        top: 5%;
        z-index: 1000;
        width: 25%;
        height: auto;
        overflow: hidden;
        border-radius: 50% !important;
    }

    .text {
        width: 75%;
    }
}

.logo-partido {
    margin-bottom: 0px;
}

.postulador-paneles {
    margin-top: 20px;
}

.postulador-paneles .panel-default > .panel-heading {
    font-weight: 900;
    background-color: $primary;
}

.panel-default>.panel-heading {
    background-color: $primary;
}

.justify {
    text-align: justify;
}

.panel-body {
    padding: 30px;
}

html, body {
    font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:  'Asap', sans-serif;
}

h5, h3 {
    font-weight: 600;
}

a:focus {
    text-decoration: none;
}

.status-banner {
    padding: 30px 75px 0px 75px;
}

/* Small devices only */
@media (max-width: 480px) {
    .tabla-gradacion-nombre {
        text-align: center;
    }

    .status-banner {
        padding: 0px;
    }

    .navbar-brand img {
        width: auto;
    }

    #descarga-app {
        padding: 15px 0px;
    }

    .search-container-row {
        padding: 30px 15px 0px 15px;
    }

    .jumbotron {
        margin-bottom: 10px;
    }

    .portfolio-item .portfolio-image img {
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-desc {
        text-align: center;
    }

    .tabla-gradacion-content .text-container {
        padding-left: 0px;
        margin-top: 13px;
    }

    .tabla-gradacion-content > .row {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.tabla-tachas .row {
    padding: 12px 0px;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 *
 * Taken from http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.caption .caption-background {
    text-align: center;
}

.nav-candidator .list-inline > li:first-child a {
    border: 0px;
}

.nav-candidator .list-inline > li a {
    border: 0px;
}

.btn-light-blue {
    background-color: $primary;
}

.profile-candidate .table tbody > tr > td {
    border: 0px;
}

.shadow {
    box-shadow: 9px 6px 5px 0px rgba(0,0,0,0.16);
}

.nav-candidator .list-inline > li:first-child a {
    border-left: 1px solid #ddd;
}

.pie-chart {
    height: 300px;
}


#s-total-count {
    background-color: $primary;
    color: white !important;
    margin-bottom: 30px;
}

#s-total-count .badge {
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: white;
    color: gray;
    width: 60%;
    height: 4rem;
    font-size: x-large;
    border-radius: 5px;
}


#videocontainer, canvas {
    min-width: 0px;
    min-height: 0px;
}

// Panel

.panel, .nav-candidator {
    background-color: white;
    border-radius: 5px;
}

.panel {
    .header h3{
        font-size: 1.2rem !important;
    }
}

// Panel
.panel {
    @extend .border;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: $border-radius;
    overflow: hidden;
    // Eliminar el padding de col-*
    margin-left: -15px;
    margin-right: -15px;

    .header {
        padding: 15px;
        background-color: $primary;
        color: lighten( $primary, 80% ) !important;
        border: 1px 0 0 0;

        img {
            height: 40px;
            width: auto;
            margin-left: 10px;
            margin-right: 10px;
        }

        h1, h2, h3, h4, h5, h6 {
            // Centrar vertical
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .body {
        padding: 35px;
    }
}



.perfil-social {

    div {
        padding-left: 25px;
        padding-right: 25px;
    }

    img {
        height: 50px;
        width: 50px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
    }

    p {
        margin-top: auto;
        margin-bottom: auto;
    }
}


.image100x100 {
    width: 100px;
    height: 100px;
}

.image80x80 {
    width: 60px;
    height: 60px;
}

.image60x60 {
    width: 60px;
    height: 60px;
}

@media (min-width: 990px) {
    .perfil-social {
        display: flex;
    }

    .perfil-social div {
        display: flex;
    }

    .perfil-social i {
        color: $primary;
        margin-left: 75px;
        margin-right: 15px;
    }
}


.profile {

    .row {
        padding: 1rem;
    }

    img#photo-profile {
        max-width: 350px;
        max-height: 250px;
        // margin-top: 25px;
        // margin-bottom: 25px;
        // width: 80%;
    }
}

@include media-breakpoint-up(md) {
    .profile .row {
        div + div div.panel {
            margin-left: 0.5px;
        }
    }
}


.ember-power-select-trigger {
    height: 3rem;
    padding: 0.5rem;
}

.portfolio {
    .image-party img {
        position: absolute;
        left: 65%;
        top: 5%;
        z-index: 80;
        width: 25%;
        height: auto;
        overflow: hidden;
        border-radius: 50% !important;
    }

    .text {
        width: 75%;
        margin: auto;
    }
}


.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    border-top: 0px;
}

strong {
    font-weight: bold;
}

.font-weight-light {
    font-weight: 100 !important;
}

.radio {
    background: unset;
    color: black;
    border: unset;
}

.ember-power-select-clear-btn {
    color: black !important;
    background: white !important;
    padding-left: 10px !important;
}