@font-face {
  font-family: "Asap";
  src: url("fonts/Asap-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Asap";
  src: url("fonts/Asap-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Asap";
  src: url("fonts/Asap-Medium.otf");
  font-weight: medium;
}
